third_party/gfootball_engine/build*
build/
gfootball.egg-info
__pycache__
*.a
*.so
*.dylib
C[M,m]akeCache.txt
third_party/gfootball_engine/CMakeFiles/
third_party/gfootball_engine/Makefile
third_party/gfootball_engine/cmake_install.cmake
third_party/gfootball_engine/gameplayfootball
footballenv/
football-env*/
cmake-build-debug/
.idea
.vs
vcpkg_installed/
